<menu></menu>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
          
        </div>
        <!--/span-->
        <div class="col-md-8" style="position:relative;top:90px;">
            <router-outlet></router-outlet>
        </div>
        <!--/span-->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-left">
                <div class="well">
                    
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    
</div>
<!--/.fluid-container-->