    <hr/>
    <div class="row navbar-inverse navbar-fixed-bottom footer-height">
      <div class="footer">
        <div class="foot_soc">
          <ul>
            <li>
              <a class="fa fa-twitter" href="#"></a>
            </li>
            <li>
              <a class="fa fa-facebook" href="http://facebook.com/aravind2109"></a>
            </li>
            <li>
              <a class="fa fa-linkedin" href="#"></a>
            </li>
            <li>
              <a class="fa fa-github" href="http://github.com/aravindfz"></a>
            </li>
            <li>
              <a class="fa fa-google-plus-official" href="#"></a>
            </li>

            <div class="clear"></div>
          </ul>
        </div>
      </div>
      <b>Disclaimer - Opinions expressed here are my own.</b>
      <p class="w3-link pull-right">Copyright © Aravind 2017.Template Designed by W3Layouts</p>
      <div class="clear"></div>
    </div>
  