<div class="about-me">
    <!--Image-->
    <div class="row profile-image">
        <div class="col-md-12">
            <img class="img-circle" src="https://scontent.fmaa1-1.fna.fbcdn.net/v/t1.0-9/14980785_1110028819032889_6949438649145597926_n.jpg?oh=e0124592f85258ad4108a5924f9c2963&oe=591BDF53"
            />
        </div>
    </div>
    <!--Title-->
    <div class="row profile-image">
        <div class="col-md-12">
            <span class="aravind-name"> A<span>ravind</span> </span>
        </div>
    </div>
    <!--Designation-->
    <div class="row profile-image">
        <div class="col-md-12">
            <span class="designation">  Full stack Web and Mobile Developer</span>
        </div>
    </div>
    <!--Description-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="content-aravind">
                Belongs to topuser list of Angular2 Angular1 in the recent. I have an year of experience in web development.
                My current main area of interests is AngularJS single-page application development. I have one year of experience
                in developing a project from scratch comprising of a AngularJs coupled with RESTful ASP.NET WEB API services
                (Worked as a module lead by collaborating with the team). I have a greater interest in gaining knowledge through
                continuous learning of mordern technologies in web development stack from server-side programming (C# + ASP.NET WEB-API+ WCF +SQL)
                to client-side programming (HTML5, Twitter Bootstrap, Javascript, AngularJS). I often prefer doing applications
                that involves more complexity. During the implementation of application, I am very keen in maintaining clean code by applying coding standards and the design patterns.
            </span>
        </div>
    </div>
    <div class="top-buffer"></div>
    <!--Education-->
    <div class="row ">
        <div class="col-md-12 ">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span class="title-text"> Education</span>
            <br/><br/>
            <span class="degree">B.E. Computer Science Engineering</span>
        </div>
    </div>
    <div class="top-buffer"></div>
    <div class="top-buffer"></div>
    <!--Experience-->
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-id-badge" aria-hidden="true"></i><span class="title-text"> Experience</span>
            <br/><br/>
            <span class="degree">Programmer Analyst</span>
        </div>
    </div>
    <div class="row top-buffer"></div>
    <!--Skills-->
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-book" aria-hidden="true"></i><span class="title-text"> Skills</span>
            <hr/>
            <!--Front End Skills-->
            <div class="group">
                <span> Java Script Frameworks</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">Angular1</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">Angular2 with Typescript
                    </div>
                </div>
            </div>
            <div class="group">
                <span> DotNet </span>
                <!--C# Programming-->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:75%">C# Programming</div>
                </div>
                <!--Asp.Net WEB-API-->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">Asp.Net Web Api</div>
                </div>
                <!--WCF-->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">Windows Communication Foundation</div>
                </div>
                <!--Entity Framework-->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:60%">Entity Framework</div>
                </div>
            </div>
            <div class="group">
                <span> Design Patterns</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">MVC</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">MVVM</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">SoC</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">Repository</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">UoW</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
             <i class="fa fa-eye" aria-hidden="true"></i> <span class=" title-text">Find Me</span>
                 <br/><br/>
         <div class="btn-group btn-group-justified">
                <a href="http://stackoverflow.com/users/3858469/aravind?tab=profile" class="btn btn-primary"><i class="fa fa-stack-overflow" aria-hidden="true"></i> </a>
                <a href="https://github.com/aravindfz" class="btn btn-primary"><i class="fa fa-github" aria-hidden="true"></i> </a>
                <a href="https://twitter.com/aravindarak" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="https://www.facebook.com/aravind2109" class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="https://in.linkedin.com/in/aravind-11830284" class="btn btn-primary"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
</div>
        </div>
    </div>
</div>